{{ partial "header" . }}

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <header class="page-header">
                <h1 class='blog-title'>About me</h1>
                <p class='blog-subtitle'>Need to understand something or get in touch?</p>
            </header>

            <article id="post-1" class="post type-post status-publish format-standard has-post-thumbnail hentry category-wordpress tag-version tag-wordpress-2 mix">
                <div class="entry-content">
                    {{ .Content }}
                </div>
            </article>
        </main>
    </div>
</div>

{{ partial "footer" . }}
