{{ partial "header" . }}

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <header class="page-header page-header--portfolio">
                <h1 class='blog-title'><span>{{ .Params.title }}</span></h1>
                <p class='blog-subtitle'>{{ .Params.subtitle }}</p>
            </header>

            <ul class="portfolio-filter">
                {{ range $cat := .Params.content_category }}
                <li class="button filter" data-filter="{{ $cat }}">{{ $cat }}</li>
                {{ end }}
            </ul>

            <section id="portfolio-filter" class="grids portfolio-items">
                {{ .Content }}
            </section>
        </main>
    </div>
</div>

{{ partial "footer" . }}
