{{ partial "header" . }}

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <header class="page-header page-header--portfolio">
                <h1 class='blog-title'><span>Speaking</span></h1>
                <p class='blog-subtitle'>some of my presentations</p>
            </header>

            <ul class="portfolio-filter">
                <li class="button filter" data-filter="all">All</li>
                <li class="button filter" data-filter="web">Web</li>
                <li class="button filter" data-filter="games">Games</li>
                <li class="button filter" data-filter="development">Development</li>
                <li class="button filter" data-filter="ruby">Ruby</li>
                <li class="button filter" data-filter="projects">Projects</li>
            </ul>

            <section id="portfolio-filter" class="grids portfolio-items">
                {{ .Content }}
            </section>
        </main>
    </div>
</div>

{{ partial "footer" . }}
