<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <span>&copy; {{ now() | date(format="%Y") }}</span>
            <span><a href="{{ config.base_url }}">{{ config.extra.author }}</a></span>
            <span>{{ config.extra.copyright | safe }}</span>
            <span>
                <a href="http://feeds.feedburner.com/Pothix" target="_blank" title="RSS"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>
                <a href="http://feeds.feedburner.com/EnglishPotHix" target="_blank" title="English RSS"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>
                <a href="http://feeds.feedburner.com/PotHixTech" target="_blank" title="Tech RSS"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>
            </span>
        </div>
    </div>
    <div class="footer__inner">
        <div class="footer__content">
            <span>Customized by <a href="https://pothix.com">PotHix</a></span>
            <span>Made with &#10084; by <a href="https://github.com/rhazdon">Djordje Atlialp</a></span>
          </div>
    </div>
</footer>
