<a href="{{ config.extra.logo.logoHomeLink | default(value='/') }}" style="text-decoration: none;">
    <div class="logo">
        {% if config.extra.logo.logoSvg %}
            {{ config.extra.logo.logoSvg | safe }}
        {% elif config.extra.logo.path %}
            <img src="{{ config.extra.logo.path }}" alt="{{ config.extra.logo.alt }}" />
        {% else %}
            <span class="logo__mark">></span>
            <span class="logo__text">{{ config.extra.logo.logoText | default(value="hello") }}</span>
            <span class="logo__cursor" style=
                  "{% if config.extra.logo.logoCursorDisable %}visibility:hidden;{% endif %}
                   {% if config.extra.logo.logoCursorColor %}background-color:{{ config.extra.logo.logoCursorColor }};{% endif %}">
            </span>
        {% endif %}
    </div>
</a>
