        <footer class="footer-widget-area">
            <div class="inside">
                <div class="grids">
                    <aside id="stag-dribbble-2" class="widget grid-4 stag-dribbble">
                        <div>
                            <h3 class="widget-title">
                                <span>Photography, a hobby</span>
                            </h3>
                            <a href="https://500px.com/pothix">
                                <img src="https://drscdn.500px.org/photo/306645053/q%3D80_h%3D600/v2?sig=f0145e764e9dead0b4a6500b9fb53591aeb72f18eadb26bbd6c345322144abbf" style="float:left">
                            </a>
                            <div class="textwidget">
                                <center>Check out <a href="https://500px.com/pothix">my 500px account</a> for more photos!</center>
                            </div>
                        </div>
                    </aside>

                    <aside id="recent-posts-2" class="widget grid-4 widget_recent_entries">
                        <h3 class="widget-title">
                            <span>Last 3 books read</span>
                        </h3>

                        <ul>
                            <style type="text/css" media="screen">
                                .gr_grid_container {
                                /* customize grid container div here. eg: width: 500px; */
                                    height:150px;
                                }

                                .gr_grid_book_container {
                                    float: left;
                                    width: 98px;
                                    height: 160px;
                                    padding: 0px 0px;
                                    overflow: hidden;
                                }
                            </style>

                            <div id="gr_grid_widget_1490660444">
                            </div>

                            <script src="https://www.goodreads.com/review/grid_widget/38970458.Willian's%20bookshelf:%20read?cover_size=medium&hide_link=true&hide_title=true&num_books=3&order=d&shelf=read&sort=date_read&widget_id=1494295777
" type="text/javascript" charset="utf-8"></script>
                        </ul>
                    </aside>

                    <aside id="text-2" class="widget grid-4 widget_text">
                        <h3 class="widget-title">
                            <span>Follow this blog</span>
                        </h3>
                        <div class="textwidget">
                            I've added three different RSS feeds here based on categories. The idea was to help you the tech guy that don't want to see what kind of motorcycle I have, or the english speaker that don't want to see portuguese posts on his feed reader.
                            <br /><br />
                            So, I have a feed for <a href="http://feeds.feedburner.com/PotHix">all my posts</a>, for the <a href="http://feeds.feedburner.com/EnglishPotHix">English posts</a> and <a href="http://feeds.feedburner.com/PotHixTech">Tech related posts</a>. Choose one and be happy! :)
                        </div>
                    </aside>
                </div>
            </div>
        </footer>

        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info">
                <div class="grids">
                    <div class="grid-6">
                        © {{ now.Format "2006"}} <a href="http://demo.codestag.com/doctype/">Doctype</a> WordPress Theme by <a href="//codestag.com">Codestag</a> modified by PotHix.
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script type='text/javascript' src='/javascripts/jquery.js'></script>
    <script type='text/javascript' src='/javascripts/widget.min.js'></script>
    <script type='text/javascript' src='/javascripts/tabs.min.js'></script>
    <script type='text/javascript' src='/javascripts/jquery.custom.js'></script>
    <script type='text/javascript' src='/javascripts/plugins.js'></script>
    <script type='text/javascript' src='/javascripts/jquery.mixitup.min.js'></script>

    {{ template "_internal/google_analytics.html" . }}
</body>
</html>
