<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>PotHix blog<%= ' - ' + current_article.title unless current_article.nil? %></title>

    <!-- Prefetch DNS for external resources to speed up loading time -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    <!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <link rel="icon" type="image/png" href="/images/favico.png">
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/stag-custom-styles.css' type='text/css' media='all' />

    <link rel="stylesheet" href="/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' id='doctype-fonts-css'  href='http://fonts.googleapis.com/css?family=Rokkitt%3A700%7CLato%3A300%2C400%2C700%2C300italic&#038;subset=latin' type='text/css' media='all' />

    <body class="blog sticky-nav chrome stagtools">
      <div id="page" class="hfeed site">
	<header id="masthead" class="site-header site-header--fixed" role="banner">
          <div class="inside">
	    <%= partial "partials/menu" %>
            <a class="site-branding" href="/" title="Doctype" rel="home">
              <span class="logo-container">
                <img data-at2x src="/images/logo.png" alt="Website's logo">
              </span>
            </a>
          </div>
	</header>
