<div id="navbar" class="navbar">
  <nav id="site-navigation" class="navigation main-navigation" role="navigation">
    <ul id="primary-menu" class="primary-menu">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
        <a href="/">Home</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
        <a href="/mywork.html">My work</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
        <a href="/about.html">About me</a>
      </li>
    </ul>
  </nav>
</div>
