<div id="navbar" class="navbar">
  <nav id="site-navigation" class="navigation main-navigation" role="navigation">
    <ul id="primary-menu" class="primary-menu">
      <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
        <a href="/">Home</a>
      </li>
      <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
        <a href="#">My work</a>
      </li>
      <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
        <a href="/about.html">About me</a>
      </li>
    </ul>
  </nav>
</div>
