{{ partial "header" . }}

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <header class="page-header page-header--portfolio">
                <h1 class='blog-title'><span>Writing</span></h1>
                <p class='blog-subtitle'>Things related to writing outside of this blog</p>
            </header>

            <ul class="portfolio-filter">
                <li class="button filter" data-filter="all">All</li>
                <li class="button filter" data-filter="book">Books</li>
                <li class="button filter" data-filter="techreview">Technical Reviews</li>
                <li class="button filter" data-filter="article">Publications</li>
            </ul>

            <section id="portfolio-filter" class="grids portfolio-items">
                {{ .Content }}
            </section>
        </main>
    </div>
</div>

{{ partial "footer" . }}
