{{ partial "header" . }}

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <header class="page-header">
                <h1 class='blog-title'>{{ .Params.title }}</h1>
                <p class='blog-subtitle'>{{ .Params.subtitle }}</p>
            </header>

            <article id="post-1" class="post type-post status-publish format-standard has-post-thumbnail hentry category-wordpress tag-version tag-wordpress-2 mix">
                <div class="entry-content">
                    {{ .Content }}

                    <!-- FIXME: styling with HTML... Must refactor to use CSS -->
                    <center style="margin-top:100px">
                        <div class="archive-lists">
                            <p>Hours coding</p>

                            <figure>
                                <embed src="https://wakatime.com/share/@PotHix/2845055b-fc8d-4e12-8c1d-9708418c3074.svg"></embed>
                            </figure>

                            <br>
                            <p>Languages used</p>
                            <figure>
                                <embed src="https://wakatime.com/share/@PotHix/ab62c272-d57d-43fa-9849-ffc8d7ac7a4e.svg"></embed>
                            </figure>

                            <br>
                            <p>Editors I'm using</p>
                            <figure>
                                <embed src="https://wakatime.com/share/@PotHix/51330537-430e-477d-bc07-3d9b951f1dcf.svg"></embed>
                            </figure>

                        </div>

                        <br>
                        <p>This data is provided
                            by <a href="https://wakatime.com/i/PotHix">Wakatime</a>. Here
                            is <a href="https://wakatime.com/@PotHix">my profile</a>, if you
                            want to check it there.
                        </p>
                    </div>
                </center>
            </article>
        </main>
    </div>
</div>

{{ partialCached "footer" . }}
