{{ partial "header" . }}

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wordpress tag-version tag-wordpress-2 mix">
                <header class="entry-header">
                    <h2 class="entry-title">{{ .Title }}</h2>
                </header>

                <div class="entry-meta">
                    <span class="posted-on">
                        Published at {{ .Date.Format "January 2, 2006" }}
                    </span>
                    <span class="tags-links">
                        {{ range .Params.tags }}
                        <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>,
                        {{ end }}
                    </span>
                    <span class="translate">
                        {{ if in .Params.tags "english" }}
                        <a href="https://translate.google.com/translate?sl=en&amp;tl=pt&amp;u={{ .Permalink }}" target="_blank" rel="nofollow noopener noreferrer">Traduzir 🇧🇷</a>
                        {{ else }}
                        <a href="https://translate.google.com/translate?sl=pt&amp;tl=en&amp;u={{ .Permalink }}" target="_blank" rel="nofollow noopener noreferrer">Translate 🇺🇸</a>
                        {{ end }}
                    </span>
                </div>

                <div class="entry-content">
                    {{ .Content }}
                    {{ partialCached "disqus" . }}
                </div>
            </article>
        </main>
    </div>
</div>

{{ partialCached "footer" . }}
