/**
 * This file contains styles related to the user settings of the theme
 */

/* Theme Dependant CSS - Depending on chosen accent color */
.page-header--portfolio span, .related-projects span { background-color: #ffffff; }
body { background-color: #ffffff; font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif; }
.blog .hentry::before, .archive .hentry::before, .search .hentry::before { background-color: #ffffff; }a, .paging-navigation .current, .section-intro span, .archive-lists .widgettitle:before, .archive-lists .screen-reader-text:before, .paging-navigation a:hover, .widget_categories, .widget_archive, .archive-lists a:hover { color: #8bd3c1; }
.paging-navigation .current, .paging-navigation a:hover{ border-color: #8bd3c1; }
.button, button, input[type=submit], .navbar a:hover, .sub-menu, .sfHover a { background-color: #8bd3c1; }


