<div id="navbar" class="navbar">
  <nav id="site-navigation" class="navigation main-navigation" role="navigation">
    <ul id="primary-menu" class="primary-menu">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
        <a href="/">Home</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
        <a href="/coding">Coding</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
        <a href="/speaking">Speaking</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
        <a href="/writing">Writing</a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
        <a href="/about">About me</a>
      </li>
    </ul>
  </nav>
</div>
