{% extends "base.html" %}
{% block content %}
    {% set posts_section = get_section(path="posts/_index.md") %}

    <main class="posts">
        {% if section.content %}
            <div class="content">{{ section.content | safe }}</div>
        {% endif %}

        <ul class="posts-list">
            {% for page in posts_section.pages %}
                <li class="post-item" style="padding:10px 0">
                    <a href="{{ page.permalink }}">
                        <span class="post-title" style="text-transform: uppercase">{{ page.title }}{% if page.draft %}<strong> :: Draft</strong>{% endif %}</span>
                        <span class="post-day">
                            {{ page.date | date(format=config.extra.dateformShort) }}
                        </span>
                    </a>
                    {% if page.summary %}<p>{{ page.summary | striptags | safe }}</p>{% endif %}
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
