{% extends "base.html" %}
{% block content %}
    <main class="post">

        <div class="post-info">
            {% if page.taxonomies.tags is defined and "english" in page.taxonomies.tags %}
                Also available in
                <a href="https://translate.google.com/translate?sl=en&amp;tl=pt&amp;u={{ page.permalink }}" target="_blank" rel="nofollow noopener noreferrer">&#x1F1E7;&#x1F1F7;</a>
            {% else %}
                Also available in
                <a href="https://translate.google.com/translate?sl=pt&amp;tl=en&amp;u={{ page.permalink }}" target="_blank" rel="nofollow noopener noreferrer">&#x1F1FA;&#x1F1F8;</a>
            {% endif %}
            </p>
        </div>

        <article>
            <h2 class="post-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>

            {% if page.extra.toc is defined and page.extra.toc %}
                <hr />
                <aside id="toc">
                <div class="toc-title">Table of Contents</div>
                    {{< toc.list items={page.toc} />}}
                </aside>
                <hr />
            {% endif %}

            {% if page.extra.cover is defined %}
                <img src="{{ page.extra.cover }}" class="post-cover" />
            {% endif %}

            <div class="post-content">
                {{ page.content | safe }}
            </div>
        </article>

        <hr />

        <div class="post-info">
            {% if page.taxonomies.tags is defined %}
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>

                    {% for tag in page.taxonomies.tags %}
                        <span class="tag"><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a></span>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </main>
{% endblock %}
