{{ define "main" }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}

    <main class="posts">
        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        <ul class="posts-list">
            {{ range $paginator.Pages }}
                <li class="post-item" style="padding:20px 0 10px 0">
                    <a href="{{.Permalink}}">
                        <span class="post-title">{{.Title}}{{ if .Draft }}<strong> :: Draft{{ end }}</strong></span>
                        <span class="post-day">
                            {{ if .Site.Params.dateformShort }}
                                {{ .Date.Format .Site.Params.dateformShort }}
                            {{ else }}
                                {{ .Date.Format "Jan 2"}}
                            {{ end }}
                        </span>
                    </a>
                    <p>{{ .Summary | plainify | safeHTML }}</p>
                </li>
            {{ end }}
        </ul>
    {{ partial "pagination.html" . }}
    </main>
{{ end }}
