{{ define "main" }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "post") }}

    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        <ul class="posts-list">
            {{ range $paginator.Pages }}
                <li class="post-item">
                    <a href="{{.Permalink}}">
                        <span class="post-title">{{.Title}}</span>
                        <span class="post-day">
                            {{ if .Site.Params.dateformShort }}
                                {{ .Date.Format .Site.Params.dateformShort }}
                            {{ else }}
                                {{ .Date.Format "Jan 2"}}
                            {{ end }}
                        </span>
                    </a>
                </li>
            {{ end }}
        </ul>
    {{ partial "pagination.html" . }}
    </main>
{{ end }}
