{{ partial "header" . }}

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            {{ range .Data.Pages }}
              <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-wordpress tag-version tag-wordpress-2 mix">

                <header class="entry-header">
                  <h2 class="entry-title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}
                  </h2>
                </header>

                <div class="entry-meta">
                  <span class="posted-on">
                    Published at {{ .Date.Format "January 2, 2006" }}
                  </span>

                  <span class="tags-links">
                  {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>,
                  {{ end }}
                  </span>
                </div>

                <div class="entry-content">
                  {{ .Summary | plainify | safeHTML }}
                </div>
              </article>
            {{ end }}
        </main>
    </div>
</div>

{{ partialCached "footer" . }}
