<header class="page-header">
  <h1 class='blog-title'>About me</h1>
  <p class='blog-subtitle'>Need to understand something or get in touch?</p>
</header>

<article class="post-#{article.id} post type-post status-publish format-standard has-post-thumbnail hentry category-wordpress tag-version tag-wordpress-2 mix">

  <div class="entry-content">
    <p><center><i>&lt;pt-BR&gt;Tem também a <%= link_to "versão em português", "about_ptbr.html" %>&lt;/pt-BR&gt</i></center></p>
    <p>I'm Willian Molinari, also known as <strong>PotHix</strong>. I'm a software developer since 2006 and worked with a lot of different languages in my career like: ASP2, VB.NET, PHP, Python, Ruby, Golang, Javascript and a little bit of C. For more information on my career read my <a href="https://www.linkedin.com/in/willianmolinari">Linkedin Profile</a>.</p>

    <h3>Getting in touch</h3>

    <p>Want to contact me? Here are come places you can find me:</p>
    <ul>
      <li><a href="https://twitter.com/PotHix">@PotHix on twitter</a></li>
      <li><a href="https://github.com/PotHix">PotHix on Github</a></li>
      <li><a href="https://www.linkedin.com/in/willianmolinari">Willian Molinari on Linkedin</a></li>
      <li><a href="https://flickr.com/photos/PotHix">PotHix on Flickr</a></li>
      <li><a href="https://plus.google.com/+WillianMolinari">Willian Molinari on Google Plus</a></li>
    </ul>

    <p>And obviously, you can always send me an email (I prefer) on <strong>pothix</strong> <i>[at]</i> <strong>pothix</strong> <i>[dot]</i> <strong>com</strong></p>


    <h3>WTF is PotHix</h3>

    <p>Well... Here we go again. :)</p>
    <p>If you're reading this the probability that you asked me "WTF PotHix means" is really high, so I redirected you to this page where I tried to explain the reason of that silly nickname.</p>
    <p>Back when <a href="http://us.blizzard.com/en-us/games/d2/">Diablo II</a> was a hit I had a <a href="http://diablo.gamepedia.com/Paladin_(Diablo_II)">Paladin</a> char and was playing Diablo a lot with my friends. In the same time I found that was really boring to create new accounts on some websites because the name WillianMolinari was already taken on them (yes.. The same name with the same letters), so I decided that a new nickname was needed! And started thinking about it.</p>
    <p>The requiremens are:</p>
    <ul>
      <li>Good to read</li>
      <li>Unique</li>
      <li>Should represent things I like</li>
    </ul>
    <p>With these requirements in mind I started to pick some letters:</p>
    <ul>
      <li><strong>P</strong> aladin</li>
      <li><strong>o</strong> f</li>
      <li><strong>t</strong> he</li>
      <li><strong>H</strong> eaven</li>
    </ul>
    <p>Nice! It was cool to me, I think nobory else will use <strong>PotH</strong> as a Nickname... until I found a guy with PotH as surname when playing Gunbound (with a 56kbs connection... LOL). So, let's go to the plan B:</p>
    <ul>
      <li><strong>ix</strong> - from the <i>*.nix</i>. Linux ftw. :)</li>
    </ul>
    <p>So I got <strong>PotHix</strong>!! Yay!!</p>
    <p>Silly, isn't? d-_-b</p>
    <p>As you could see on my requirements, I was not thinking on people calling me by this name, I just wanted a good nickname to use on my games and logins, but today I'm known as PotHix more than Willian Molinari. LOL</p>
    <p>So, you can stop asking me if <i>Pot</i>Hix has something to do with drugs...It is just a nerd thing from someone that haven't considered people saying this out loud. ;)</p>
  </div>
</article>
