---
pageable: true
---
<header class="page-header">
  <h1 class='blog-title'>
    Archive for
    <% case page_type when 'day' %>
      <%= Date.new(year, month, day).strftime('%b %e %Y') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%b %Y') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </h1>
  <p class='blog-subtitle'>Articles by date</p>
</header>

<%= partial "partials/main" %>
