---
pageable: true
per_page: 12
---
<header class="page-header">
  <h1 class='blog-title'>Articles for category</h1>
  <p class='blog-subtitle'><%= category %></p>
</header>

<%= partial "partials/main" %>
