---
pageable: true
per_page: 10
---

<header class="page-header">
  <h1 class='blog-title'>Blog Posts</h1>
  <p class='blog-subtitle'>Welcome to PotHix blog! ;)</p>
</header>

<%= partial "partials/main", locals: {paginate: paginate, prev_page: prev_page, next_page: next_page, page_articles: page_articles} %>
