<%= partial "partials/header" %>

<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <%= yield %>
    </main>
  </div>
</div>

<%= partial "partials/footer" %>
