<header class="page-header page-header--portfolio">
  <h1 class='blog-title'><span>My Work</span></h1>
  <p class='blog-subtitle'>Here is things I've done related to programming</p>
</header>

<ul class="portfolio-filter">
  <li class="button filter" data-filter="all">All</li>
  <li class="button filter" data-filter="project">Projects</li>
  <li class="button filter" data-filter="presentation">Presentations</li>
</ul>

<section id="portfolio-filter" class="grids portfolio-items">

  <article id="portfolio-27" class="grid-4 post-27 portfolio type-portfolio status-publish has-post-thumbnail skill-ui-design ui-design mix project">
    <figure>
      <a href="#" rel="bookmark">
	<img width="366" height="366" src="/images/mywork/project1.jpg" class="attachment-portfolio-thumbnail wp-post-image" />
      </a>
      <figcaption>
	<h4>Skeleton Jigsaw</h4>
	<a href="#" rel="bookmark" class="button">Details</a>
      </figcaption>
    </figure>
  </article>
  
  <article id="portfolio-23" class="grid-4 post-23 portfolio type-portfolio status-publish has-post-thumbnail skill-icon-design mix project">
    <figure>
      <a href="#" rel="bookmark">
	<img width="366" height="366" src="/images/mywork/project1.jpg" class="attachment-portfolio-thumbnail wp-post-image" alt="clockie" /></a>
      <figcaption>
	<h4>Skeleton Jigsaw</h4>
	<a href="#" rel="bookmark" class="button">Details</a>
      </figcaption>
    </figure>
  </article>
  
  <article id="portfolio-18" class="grid-4 post-18 portfolio type-portfolio status-publish has-post-thumbnail skill-illustration skill-icon-design mix project">
    <figure>
      <a href="#" rel="bookmark">
	<img width="366" height="366" src="/images/mywork/project1.jpg" class="attachment-portfolio-thumbnail wp-post-image" alt="cloud_app" />
      </a>
      <figcaption>
	<h4>Skeleton Jigsaw</h4>
	<a href="#" rel="bookmark" class="button">Details</a>
      </figcaption>
    </figure>
  </article>
  
  <article id="portfolio-88" class="grid-4 post-88 portfolio type-portfolio status-publish has-post-thumbnail skill-illustration skill-icon-design skill-ui-design ui-design mix presentation">
    <figure>
      <a href="#" rel="bookmark">
	<img width="366" height="366" src="/images/mywork/presentation1.jpg" class="attachment-portfolio-thumbnail wp-post-image" alt="portfolio4" />
      </a>
      <figcaption>
	<h4>Rubyconf 2013</h4>
	<a href="#" rel="bookmark" class="button">Details</a>
      </figcaption>
    </figure>
  </article>
  
  <article id="portfolio-87" class="grid-4 post-87 portfolio type-portfolio status-publish has-post-thumbnail skill-illustration skill-ui-design ui-design mix presentation">
    <figure>
      <a href="#" rel="bookmark">
	<img width="366" height="366" src="/images/mywork/presentation1.jpg" class="attachment-portfolio-thumbnail wp-post-image" alt="portfolio5" />
      </a>
      <figcaption>
	<h4>Rubyconf 2013</h4>
	<a href="#" rel="bookmark" class="button">Details</a>
      </figcaption>
    </figure>
  </article>
  
  <article id="portfolio-80" class="grid-4 post-80 portfolio type-portfolio status-publish has-post-thumbnail skill-icon-design skill-ui-design ui-design mix presentation">
    <figure>
      <a href="#" rel="bookmark">
	<img width="366" height="366" src="/images/mywork/presentation1.jpg" class="attachment-portfolio-thumbnail wp-post-image" alt="portfolio6" />
      </a>
      <figcaption>
	<h4>Rubyconf 2013</h4>
	<a href="#" rel="bookmark" class="button">Details</a>
      </figcaption>
    </figure>
  </article>
</section>
